@define-color background-color #292025;
@define-color border-color #c5a0b6;
@define-color label #e5d0dc;
@define-color image #e5d0dc;
@define-color progress #caaf00;

/* Cancel out Omarchy settings */
window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 24px;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}


/* Draw a new background */
window:not(:backdrop) #container,
window:backdrop #container {
    border: 2px solid @border-color;
    border-radius: 16px;
    background-color: alpha(@background-color, 0.8);
    padding: 12px;
    background-clip: padding-box;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.9);
}
